@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --light-success: oklch(0.696 0.17 162.48);
  --light-warning: oklch(79.479% 0.12952 93.542);
  --light-destructive: oklch(0.704 0.191 22.216);
  --primary-color: #171720;

  /* 171720 */

  /* shadcn variables */
  --background: oklch(0.99 0 0);
  --background-muted: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--primary-color);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: var(--primary-color);
  --destructive: var(--light-destructive);
  --destructive-foreground: #0a0a0a;
  --success: var(--light-success);
  --success-foreground: #0a0a0a;
  --warning: var(--light-warning);
  --warning-foreground: #171720;
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: var(--primary-color);
  --border: oklch(0.922 0 0);
  --input: oklch(0.942 0 0);
  --ring: oklch(0.92 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.99 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: var(--primary-color);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.955 0 0);
  --sidebar-accent-foreground: var(--primary-color);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* branding variables */
  --label: #000000;
  --label-hover: #000000;
  --support: #909090;
  --input-hover: #f0f0f0;

  /* theme switcher */
  --theme-light-background: #f5f5f5;
  --theme-light-foreground: #0a0a0a;
  --theme-dark-background: #15161d;
  --theme-dark-foreground: #e4e5ee;
}

[data-theme='dark'] {
  --primary: #3c3c62;
  --primary-foreground: #ffffff;
  --secondary: #282834;
  --secondary-foreground: #e4e5ee;
  --foreground: #e4e5ee;
  --background: #171720;
  --background-muted: #1c1c26;
  --card: #171720;
  --card-foreground: #e4e5ee;
  --popover: #2c2c35;
  --popover-foreground: #e4e5ee;
  --accent: #282834;
  --accent-foreground: #ffffff;
  --destructive: #d45d5d;
  --destructive-foreground: #ffffff;
  --success: #2ba562;
  --success-foreground: #171720;
  --warning: #f2be00;
  --warning-foreground: #171720;
  --muted: #22222c;
  --muted-foreground: #8a8b92;
  --info: #22222c;
  --info-foreground: #ffffff;
  --neutral: #22222c;
  --neutral-foreground: #e4e5ee;
  --border: #30303b;
  --border-foreground: #e4e5ee;
  --input: #30303b;
  --input-foreground: #e4e5ee;
  --ring: #3c3c62;
  --chart-1: #3c3c62;
  --chart-2: #5d85ff;
  --chart-3: #f2be00;
  --chart-4: #ed46e7;
  --chart-5: #95a2b3;
  --sidebar: #171720;
  --sidebar-foreground: #e4e5ee;
  --sidebar-primary: #3c3c62;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #2b2b33;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #30303b;
  --sidebar-ring: #3c3c62;

  /* branding variables */
  --label: #dbdbdb;
  --support: #8a8b92;
  --label-hover: #ffffff;
  --input-hover: #30303b;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-background-muted: var(--background-muted);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-neutral: var(--neutral);
  --color-neutral-foreground: var(--neutral-foreground);
  --color-border: var(--border);
  --color-border-foreground: var(--border-foreground);
  --color-input: var(--input);
  --color-input-foreground: var(--input-foreground);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* branding colors */
  --color-label: var(--label);
  --color-label-hover: var(--label-hover);
  --color-support: var(--support);
  --color-input-hover: var(--input-hover);
}
