@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant ocean (&:where([data-theme=ocean], [data-theme=ocean] *));

:root {
  --light-success: oklch(0.696 0.17 162.48);
  --light-warning: oklch(79.479% 0.12952 93.542);
  --light-destructive: oklch(0.704 0.191 22.216);

  /* shadcn variables */
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --destructive: var(--light-destructive);
  --destructive-foreground: var(--dark-black-darkness);
  --success: var(--light-success);
  --success-foreground: var(--dark-black-darkness);
  --warning: var(--light-warning);
  --warning-foreground: var(--ocean-blue-darkness);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --border: oklch(0.922 0 0);
  --input: oklch(0.942 0 0);
  --ring: oklch(0.92 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.955 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* branding variables */
  --label: #000000;
  --label-hover: #000000;
  --support: #909090;
  --input-hover: #f0f0f0;

  /* theme switcher */
  --theme-light-background: #f5f5f5;
  --theme-light-foreground: #0a0a0a;
  --theme-dark-background: #0a0a0a;
  --theme-dark-foreground: #f5f5f5;
  --theme-ocean-background: #15161d;
  --theme-ocean-foreground: #e4e5ee;
  --theme-nord-background: #2e3440;
  --theme-nord-foreground: #e5e9f0;
}

[data-theme='dark'] {
  --dark-black-primary: oklch(0.205 0 0);
  --dark-black-darkness: oklch(0.269 0 0);
  --dark-gray-dark: oklch(29.716% 0.00003 271.152);
  --dark-gray-medium: oklch(0.708 0 0);
  --dark-gray-light: oklch(0.87 0 0);
  --dark-gray-lightest: oklch(0.945 0 0);
  --dark-destructive: oklch(0.704 0.191 22.216);
  --dark-success: oklch(0.696 0.17 162.48);
  --dark-warning: oklch(79.479% 0.12952 93.542);

  /* ------------------------------------------------------------ */
  --background: var(--dark-black-primary);
  --foreground: var(--dark-gray-light);
  --card: var(--dark-black-primary);
  --card-foreground: var(--dark-gray-light);
  --popover: var(--dark-black-primary);
  --popover-foreground: var(--dark-gray-light);
  --primary: var(--dark-gray-light);
  --primary-foreground: var(--dark-black-primary);
  --secondary: var(--dark-black-darkness);
  --secondary-foreground: var(--dark-gray-light);
  --muted: var(--dark-black-darkness);
  --muted-foreground: var(--dark-gray-medium);
  --accent: var(--dark-black-darkness);
  --accent-foreground: var(--dark-gray-light);
  --destructive: var(--dark-destructive);
  --destructive-foreground: var(--dark-black-darkness);
  --success: var(--dark-success);
  --success-foreground: var(--dark-black-darkness);
  --warning: var(--dark-warning);
  --warning-foreground: var(--ocean-blue-darkness);
  --border: var(--dark-gray-dark);
  --input: var(--dark-black-darkness);
  --ring: var(--dark-gray-dark);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: var(--dark-black-primary);
  --sidebar-foreground: var(--dark-gray-light);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: var(--dark-gray-light);
  --sidebar-accent: var(--dark-black-darkness);
  --sidebar-accent-foreground: var(--dark-gray-lightest);
  --sidebar-border: var(--dark-gray-medium);
  --sidebar-ring: var(--dark-gray-medium);

  /* branding variables */
  --label: var(--dark-gray-light);
  --support: var(--dark-gray-medium);
  --label-hover: var(--dark-gray-lightest);
  --input-hover: var(--dark-black-darkness);
}

[data-theme='ocean'] {
  --ocean-purple: #4f568f;
  --ocean-blue-darkness: #171720;
  --ocean-blue-dark: #30303b;
  --ocean-blue-medium: #444754;
  --ocean-blue-light: #e4e5ee;
  --ocean-blue-lighter: #ffffff;
  --ocean-gray-darkness: #5d5e65;
  --ocean-gray-dark: #8a8b92;
  --ocean-gray-light: #dbdbdb;
  --ocean-destructive: #ef4444;
  --ocean-success: #a3be8c;
  --ocean-warning: #f2be00;

  /* ------------------------------------------------------------ */

  --primary: var(--ocean-purple);
  --primary-foreground: var(--ocean-blue-lighter);
  --secondary: var(--ocean-blue-dark);
  --secondary-foreground: var(--ocean-blue-light);
  --foreground: var(--ocean-blue-light);
  --background: var(--ocean-blue-darkness);
  --card: var(--ocean-blue-darkness);
  --card-foreground: var(--ocean-blue-light);
  --popover: var(--ocean-blue-dark);
  --popover-foreground: var(--ocean-blue-light);
  --accent: var(--ocean-blue-medium);
  --accent-foreground: var(--ocean-blue-lighter);
  --destructive: var(--ocean-destructive);
  --destructive-foreground: var(--ocean-blue-lighter);
  --success: var(--ocean-success);
  --success-foreground: var(--ocean-blue-darkness);
  --warning: var(--ocean-warning);
  --warning-foreground: var(--ocean-blue-darkness);
  --muted: var(--ocean-blue-dark);
  --muted-foreground: var(--ocean-gray-dark);
  --info: var(--ocean-purple);
  --info-foreground: var(--ocean-blue-lighter);
  --neutral: var(--ocean-blue-dark);
  --neutral-foreground: var(--ocean-blue-light);
  --border: var(--ocean-blue-dark);
  --border-foreground: var(--ocean-blue-light);
  --input: var(--ocean-blue-dark);
  --input-foreground: var(--ocean-blue-light);
  --ring: var(--ocean-purple);
  --chart-1: var(--ocean-purple);
  --chart-2: #5d85ff;
  --chart-3: #f2be00;
  --chart-4: #ed46e7;
  --chart-5: #95a2b3;
  --sidebar: var(--ocean-blue-darkness);
  --sidebar-foreground: var(--ocean-blue-light);
  --sidebar-primary: var(--ocean-purple);
  --sidebar-primary-foreground: var(--ocean-blue-lighter);
  --sidebar-accent: var(--ocean-blue-dark);
  --sidebar-accent-foreground: var(--ocean-blue-lighter);
  --sidebar-border: var(--ocean-blue-dark);
  --sidebar-ring: var(--ocean-purple);

  /* branding variables */
  --label: var(--ocean-gray-light);
  --label-hover: var(--ocean-blue-lighter);
  --support: var(--ocean-gray-dark);
  --input-hover: var(--ocean-blue-dark);
}

[data-theme='nord'] {
  --nord-primary: #4d6684;
  --nord-blue-darkness: #2e3440;
  --nord-blue-dark: #353c49;
  --nord-blue-medium: #3b414f;
  --nord-blue-light: #d2d4d8;
  --nord-blue-lighter: #eceff4;
  --nord-destructive: #bf616a;
  --nord-success: #a3be8c;
  --nord-warning: #ebcb8b;

  /* ------------------------------------------------------------ */
  --primary: var(--nord-primary);
  --primary-foreground: var(--nord-blue-lighter);
  --secondary: var(--nord-blue-dark);
  --secondary-foreground: var(--nord-blue-light);
  --foreground: var(--nord-blue-lighter);
  --background: var(--nord-blue-darkness);
  --card: var(--nord-blue-dark);
  --card-foreground: var(--nord-blue-light);
  --popover: var(--nord-blue-dark);
  --popover-foreground: var(--nord-blue-light);
  --accent: var(--nord-blue-medium);
  --accent-foreground: var(--nord-blue-lighter);
  --destructive: var(--nord-destructive);
  --destructive-foreground: var(--nord-blue-lighter);
  --muted: var(--nord-blue-dark);
  --muted-foreground: var(--nord-blue-light);
  --success: var(--nord-success);
  --success-foreground: var(--nord-blue-darkness);
  --warning: var(--nord-warning);
  --warning-foreground: var(--nord-blue-darkness);
  --info: var(--nord-primary);
  --info-foreground: var(--nord-blue-lighter);
  --neutral: var(--nord-blue-darkness);
  --neutral-foreground: var(--nord-blue-light);
  --border: var(--nord-blue-medium);
  --border-foreground: var(--nord-blue-light);
  --input: var(--nord-blue-dark);
  --input-foreground: var(--nord-blue-light);
  --ring: var(--nord-blue-medium);
  --chart-1: #5e81ac;
  --chart-2: #a3be8c;
  --chart-3: #ebcb8b;
  --chart-4: #bf616a;
  --chart-5: #b48ead;
  --sidebar: var(--nord-blue-darkness);
  --sidebar-foreground: var(--nord-blue-light);
  --sidebar-primary: var(--nord-primary);
  --sidebar-primary-foreground: var(--nord-blue-lighter);
  --sidebar-accent: var(--nord-blue-medium);
  --sidebar-accent-foreground: var(--nord-blue-lighter);
  --sidebar-border: var(--nord-blue-medium);
  --sidebar-ring: var(--nord-blue-medium);

  /* branding variables */
  --label: var(--nord-blue-light);
  --label-hover: var(--nord-blue-lighter);
  --support: var(--nord-gray-dark);
  --input-hover: var(--nord-blue-medium);
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-neutral: var(--neutral);
  --color-neutral-foreground: var(--neutral-foreground);
  --color-border: var(--border);
  --color-border-foreground: var(--border-foreground);
  --color-input: var(--input);
  --color-input-foreground: var(--input-foreground);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* branding colors */
  --color-label: var(--label);
  --color-label-hover: var(--label-hover);
  --color-support: var(--support);
  --color-input-hover: var(--input-hover);
}
